@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

/* --------------- Reset style --------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
}

body {
    background-color: var(--secondary-background-color);
}


.hidden {
    display: none;
}


/* --------------- Theme toggle button --------------- */

.theme {
    position: absolute;
    top: 1vw;
    right: 5%;
}

.theme select {
    padding: 4px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-background-color);
}


/* --------------- Main container --------------- */

.main-container {
    margin: 5%;
    border-radius: 10px;
    background-color: var(--primary-background-color);
}


/* --------------- Navbar --------------- */

nav {
    position: relative;
    display: flex;
    width: 100%;
    padding: 5vw 0;
    height: max(50px, 4vw);
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-background-color);
    border-radius: 10px;
}

nav a {
    font-size: clamp(15px, 1.222vw, 1.2rem);
}

nav a:hover {
    color: var(--secondary-color);
}

.dropdown {
    cursor: pointer;
    display: none;
}

.dropdown-wrapper {
    position: absolute;
    width: 45px;
    top: 2vw;
}

.dropdown-wrapper span {
    display: block;
    width: 100%;
    height: 3.5px;
    margin: 8px 0;
    border-radius: 5px;
    background-color: var(--primary-color);
}

nav ul {
    display: flex;
}

nav li {
    margin: 0 1vw;
}

/* --------------- Banner --------------- */

.banner {
    padding-top: 5vw;
    text-align: center;
    overflow: hidden;
}


.banner span {
    color: var(--secondary-color);
}

.banner p {
    font-size: clamp(0.8rem, 1.5vw, 2rem);
    text-align: center;
}

.banner h1 {
    font-size: clamp(1rem, 2vw, 4rem);
}


/* --------------- Text animation --------------- */

.text-animation-wrapper {
    display: flex;
    justify-content: center;
    margin: 3vw;
    position: relative;
    font-size: clamp(1rem, 2vw, 4rem);
}


.text-animation-wrapper::before {
    content: "[";
    margin-right: 1vw;
    font-size: 1.2rem;
    font-weight: bold;
    animation: blink 2.5s 0s infinite;
    color: var(--secondary-color);
    font-size: clamp(1rem, 2vw, 4rem);
}

.text-animation-wrapper::after {
    content: "]";
    margin-left: 1vw;
    font-size: 1.2rem;
    font-weight: bold;
    animation: blink 2.5s 0s infinite;
    color: var(--secondary-color);
    font-size: clamp(1rem, 2vw, 4rem);
}

@keyframes blink {
    30% {
        opacity: 0;
    }
}

.text-animation {
    width: 16vw;
    margin-left: 1vw;
    text-transform: uppercase;
    text-align: center;
}

.text-animation h1 {
    width: 15vw;
    position: absolute;
    color: var(--secondary-color);
}

.development-text {
    animation: first-text 5s 0s infinite;
}

.design-text {
    opacity: 0;
    animation: second-text 5s 0s infinite;
}

@keyframes first-text {
    25% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }
}

@keyframes second-text {
    18% {
        opacity: 0;
    }

    48% {
        opacity: 1;
    }

    68% {
        opacity: 0;
    }
}


/*************** --------------- Main ****************/

main {
    margin: 0 10%;
}

section {
    margin-top: 5vw;
}

h2 {
    margin-bottom: 3vw;
    text-align: center;
    padding: 16px 0;
    color: var(--secondary-color);
    font-size: clamp(1rem, 2vw, 3rem);
}

.hidden {
    display: none;
}

#team-members-articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
}

#team-members-articles article {
    border-radius: 5px;
    background-color: var(--secondary-background-color);
}

.article-header {
    display: flex;
    height: 5vw;
}

.article-header img {
    width: 4vw;
    margin-top: 1vw;
    margin-left: 1vw;
    border-radius: 50%;
}

.article-header h3 {
    width: 10vw;
    text-align: center;
    align-self: center;
}

article>img,
h4,
p,
a {
    margin: 1vw;
}

article>img {
    width: 100%;
    margin: 10px 0;
}

article>a {
    display: block;
}

.get-in-touch .name,
.message,
button {
    width: 100%;
}

.get-in-touch input,
textarea,
button {
    margin-bottom: 2vw;
    padding: 1vw 0;
    color: black;
    padding-left: 10px;
    box-sizing: border-box;
}

.get-in-touch textarea {
    height: max(15vw, 150px);
}

.consent {
    text-align: center;
}

.get-in-touch button {
    display: block;
    width: 40%;
    margin-left: 30%;
    background-color: var(--primary-background-color);
    border: 1px solid gray;
    border-radius: 2vw;
    color: var(--primary-color);
    font-size: clamp(0.5rem, 1.5vw, 2rem);
}

.get-in-touch button:hover {
    cursor: pointer;
    color: var(--secondary-color);
}

.email-wrapper {
    display: flex;
    flex-direction: column;
}

/* .email-wrapper input, select {
    width: 48%;
} */

.email-wrapper select {
    background-color: var(--primary-background-color);
    height: 3.6vw;
    margin-bottom: 1.5rem;
}

#consent {
    width: 20px;
    height: 20px;
}


/* --------------- Footer --------------- */

footer {
    border-top: 0.5px solid silver;
    margin-top: 5vw;
    padding: 2vw 0;
    text-align: center;
    font-size: clamp(0.5rem, 1.5vw, 1rem);
}


/* --------------- Media query --------------- */

@media only screen and (min-width:2048px) {
    .main-container {
        width: 2048px;
        margin: 5% auto;
    }
}

@media only screen and (max-width:1200px) {
    .service-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 920px) {
    main{
        margin: 0 15%;
    }
    
    .right-nav {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .service-wrapper{
        grid-template-columns: 1fr;
    }

    .our-team-wrapper {
        grid-template-columns: 1fr;
    }
}