@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

/* --------------- Reset style --------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
}

body {
    background-color: var(--secondary-background-color);
}


/* --------------- Theme toggle button --------------- */

.theme {
    position: absolute;
    top: 1vw;
    right: 5%;
}

.theme select {
    padding: 4px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-background-color);
}


/* --------------- Main container --------------- */

.main-container {
    margin: 5%;
    padding-top: 1vw;
    border-radius: 10px;
    background-color: var(--primary-background-color);
}


/* --------------- Navbar --------------- */

nav {
    position: relative;
    display: flex;
    z-index: 1;
    width: 100%;
    height: max(50px, 5vw);
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-background-color);
    border-radius: 10px;
}

.small-screen-navbar {
    display: flex;
    justify-content: space-around;
}

.right-nav {
    display: flex;
}

.right-nav li {
    margin: 0 1vw;
    text-align: center;
    background-color: var(--primary-background-color);
}

nav a {
    display: block;
    padding: 15px 0;
    font-size: clamp(15px, 1.222vw, 1.2rem);
}

nav a:hover {
    color: var(--secondary-color);
}

.dropdown {
    cursor: pointer;
    display: none;
}

.dropdown-wrapper {
    position: absolute;
    width: 45px;
    top: min(5px, 2vw);
}

.dropdown-wrapper span {
    display: block;
    width: 100%;
    height: 3.5px;
    margin: 8px 0;
    border-radius: 5px;
    background-color: var(--primary-color);
}


/* --------------- Banner --------------- */

.banner {
    padding-top: 5vw;
    text-align: center;
    overflow: hidden;
}


.banner span {
    color: var(--secondary-color);
}

.banner p {
    font-size: clamp(0.8rem, 1.5vw, 2rem);
    text-align: center;
}

.banner h1 {
    font-size: clamp(1rem, 2vw, 4rem);
}


/* --------------- Text animation --------------- */

.text-animation-wrapper {
    display: flex;
    justify-content: center;
    margin: 3vw;
    position: relative;
    font-size: clamp(1rem, 2vw, 4rem);
}


.text-animation-wrapper::before {
    content: "[";
    margin-right: 1vw;
    font-size: 1.2rem;
    font-weight: bold;
    animation: blink 2.5s 0s infinite;
    color: var(--secondary-color);
    font-size: clamp(1rem, 2vw, 4rem);
}

.text-animation-wrapper::after {
    content: "]";
    margin-left: 1vw;
    font-size: 1.2rem;
    font-weight: bold;
    animation: blink 2.5s 0s infinite;
    color: var(--secondary-color);
    font-size: clamp(1rem, 2vw, 4rem);
}

@keyframes blink {
    30% {
        opacity: 0;
    }
}

.text-animation {
    width: 16vw;
    margin-left: 1vw;
    text-transform: uppercase;
    text-align: center;
}

.text-animation h1 {
    width: 15vw;
    position: absolute;
    color: var(--secondary-color);
}

.development-text {
    animation: first-text 5s 0s infinite;
}

.design-text {
    opacity: 0;
    animation: second-text 5s 0s infinite;
}

@keyframes first-text {
    25% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }
}

@keyframes second-text {
    18% {
        opacity: 0;
    }

    48% {
        opacity: 1;
    }

    68% {
        opacity: 0;
    }
}


/* --------------- Main --------------- */

main {
    margin: 0 10%;
}

section {
    margin-top: 5vw;
}

h2 {
    margin-bottom: 3vw;
    text-align: center;
    padding: 16px 0;
    color: var(--secondary-color);
    font-size: clamp(1.5rem, 2vw, 3rem);
}


/* --------------- About us --------------- */

#about-us p {
    text-align: justify;
    font-size: clamp(0.6rem, 1.5vw, 1.5rem);
}


/* --------------- Services --------------- */

.service-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
}

.service-wrapper article img {
    width: 100%;
}

.service-wrapper article span {
    display: block;
    padding: 1vw 0;
    text-align: center;
    border: 1px solid var(--secondary-color);
    font-size: clamp(0.8rem, 1vw, 1.2rem);
}


/* --------------- Our Team --------------- */

.our-team-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
}

.our-team-wrapper article {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 var(--card-box-shadow);
    transition: 0.3s;
    border: 1px solid var(--secondary-color);
}

.our-team-wrapper article:hover {
    box-shadow: 0 8px 16px 0 var(--card-box-shadow);
}

.article-header {
    display: flex;
    height: 6vw;
    border-bottom: 1px solid var(--secondary-color);
}

.avatar-wrapper {
    width: 5vw;
    height: 5vw;
    margin-top: 0.5vw;
    margin-left: 1vw;
}

.avatar-wrapper img {
    width: 100%;
    border-radius: 50%;
}

.article-header h3 {
    width: 10vw;
    text-align: center;
    align-self: center;
}

.our-team-wrapper article>img {
    width: 100%;
}

.read-more-button,
.read-less-button,
.our-team-wrapper h4,
p {
    padding: 2vw 4vw 0 4vw;
}

.our-team-wrapper h4 {
    border-top: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.our-team-wrapper p,
span {
    text-align: justify;
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
}

.more-detail {
    display: none;
}

.read-more-button,
.read-less-button {
    background-color: var(--primary-background-color);
    color: var(--secondary-color);
    border: none;
    text-align: left;
    cursor: pointer;
}

.read-less-button {
    display: none;
}

/* --------------- Contact form --------------- */

.get-in-touch,
.email,
.message,
button,
.name {
    width: 100%;
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    border-color: var(--secondary-color);
    margin-bottom: 2vw;
    padding: 1vw 0;
    color: var(--primary-background-color);
    padding-left: 10px;
}


.input-wrapper {
    display: flex;
    justify-content: space-between;
}

.input-wrapper div {
    width: 45%;
}

.subject {
    width: 100%;
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    border-color: var(--secondary-color);
    background-color: var(--primary-background-color);
    height: max(2.5vw, 45%);
}

.get-in-touch textarea {
    height: max(15vw, 150px);
}

.terms-and-conditions {
    text-align: center;
    margin-bottom: 2vw;
}

.terms-and-conditions a {
    text-decoration: underline;
    color: var(--secondary-color);
}

.get-in-touch button {
    display: block;
    width: 40%;
    margin-left: 30%;
    background-color: var(--primary-background-color);
    border: 1px solid gray;
    border-radius: 2vw;
    color: var(--primary-color);
}

.get-in-touch button:hover {
    cursor: pointer;
    color: var(--secondary-color);
}


/* --------------- Aside --------------- */

.response-wrapper {
    width: 50%;
    height: 50vh;
    margin: 20vh 0 0 25%;
    border: 1px solid var(--secondary-background-color);
    border-radius: 5px;
    background-color: var(--primary-background-color);
}

aside * {
    margin-bottom: 2vw;
    padding: 0;
    color: var(--primary-background-color);
}

aside span{
    margin-left: 10px;
}

/* --------------- Footer --------------- */

footer {
    border-top: 0.5px solid var(--secondary-color);
    margin-top: 5vw;
    padding: 2vw 0;
    text-align: center;
    font-size: clamp(0.5rem, 1.5vw, 1rem);
}


/* --------------- Media query --------------- */

@media only screen and (min-width:2048px) {
    .main-container {
        width: 2048px;
        margin: 5% auto;
    }
}

@media only screen and (max-width:1200px) {
    .service-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 920px) {
    main {
        margin: 0 20%;
    }

    nav,
    .right-nav,
    li {
        display: block;
    }

    .right-nav {
        margin-top: 10px;
    }

    .right-nav li {
        width: 100%;
        margin: 0;
    }

    .right-nav {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .service-wrapper {
        grid-template-columns: 1fr;
    }

    .our-team-wrapper {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 700px) {
    .text-animation {
        width: 120px;
    }

    .text-animation h1 {
        width: 115px;
    }
}

@media only screen and (max-width:480px) {
    .main-container {
        width: 360px;
        margin: 5% auto;
    }
}