:root {
    --primary-background-color: black;
    --secondary-background-color: #14122d;
    --primary-color: white;
    --secondary-color: #8075f6;

    --card-box-shadow: rgba(256, 256, 256, 0.5);
}
