:root {
    --primary-background-color: #fffcf3;
    --secondary-background-color: #d17c12;
    --primary-color: #2A1A1F;
    --secondary-color: #e1b488;

    --card-box-shadow: rgba(200, 200, 175, 0.5);
}